html, body {
  background-image: url("Images/landscape.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;

}
p {
  font-family:  Georgia,sans-serif, Times, serif;
  font-size: 30px;
}
li{
  font-family:  Georgia,sans-serif, Times, serif;
  font-size: 20px;
}
.bio-box {
  width: 70%;
  height: auto;
  background-color: rgba(0,0, 0, 0.95);
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.jump{
  /*position: relative;
  left: 18%;
  top: 30px;*/
  flex: 1 1 auto;
   height: 80%;
   width: 80%;
   display: block;
   max-width:650px;
   max-height:350px;
   margin-left: auto;
   margin-right: auto

}



.bio-text{
  color: white;
  position: relative;
  top: -120px;
  width: 57%;
  left: 270px;
  font-size: 20px;
}

.hb-title{
  color: white;
  position: relative;
  font-size: 30px;
  left: 120px;
}
